-
  if (typeof htmlWebpackPlugin !== 'object' || !htmlWebpackPlugin || !htmlWebpackPlugin.options)
    throw new Error('Must use html-webpack-plugin');

  var options = htmlWebpackPlugin.options;
  var files = htmlWebpackPlugin.files;
  var URL = require('url');

doctype html

html(lang=options.lang)
  head
    meta(charset='utf-8')
    meta(content='ie=edge' http-equiv='x-ua-compatible')

    if (options.baseHref)
      base(href=options.baseHref)

    if (options.meta)
      each content, name in options.meta
        meta(content=content name=name property=(name === 'description' ? `og:${name}` : undefined))

    if (options.title)
      title= options.title
      meta(property='og:title' content=options.title)

    if (options.url)
      meta(property='og:url' content=options.url)

    if (options.googleAnalytics)
      script(async src=`https://www.googletagmanager.com/gtag/js?id=${options.googleAnalytics}`)
      script
        | window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());
        = `gtag('config', '${options.googleAnalytics}');`

    if (options.manifest)
      link(rel='manifest' href='/manifest.json')

    if (files.favicon || options.faviconExternal)
      link(href=(files.favicon || options.faviconExternal) rel='icon' sizes='192x192' type='image/png')
    if ((files.favicon && options.url) || options.faviconExternal)
      meta(property='og:image' content=((files.favicon && options.url) ? URL.resolve(options.url, files.favicon) : options.faviconExternal))
      meta(property='og:image:width' content='192')
      meta(property='og:image:height' content='192')

    if (options.cache === false)
      meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
      meta(http-equiv='Pragma' content='no-cache')
      meta(http-equiv='Expires' content='0')

    if (options.mobile !== false)
      meta(content='width=device-width, initial-scale=1' name='viewport')

    each href in (files.css || [])
      link(href=href rel='stylesheet')

    each item in options._headElements
      #{item.tag}&attributes(item.attr)

  body

    block page_content

    noscript JavaScript must be enabled to run this page properly

    if (options.appMountId)
      div(id=options.appMountId)
        if (options.loader)
          != options.loader

    each href in (files.js || [])
      script(src=href)

    if (options.window)
      script(type='text/javascript')
        each key in options.window
          != `window.${key} = '${options.window[key]}';`

    each el in options._bodyElements
      #{el.tag}&attributes(el.attr)
