-
  if (!htmlWebpackPlugin || !htmlWebpackPlugin.options)
    throw new Error('Must provide config variable: htmlWebpackPlugin');

  const { options, files } = htmlWebpackPlugin;
    
  options.lang = options.lang || 'en-US';

  options.scripts = options.scripts || [];
  options.scripts.forEach((item, i) => {
    if (typeof item === 'string' || item instanceof String) { 
      options.scripts[i] = { src: item, type: 'application/javascript' };
    }
  });

  options.bodyScripts = options.bodyScripts || [];
  options.bodyScripts.forEach((item, i) => {
    if (typeof item === 'string' || item instanceof String) { 
      options.bodyScripts[i] = { src: item, type: 'application/javascript' };
    }
  });

  options.links = options.links || [];
  options.links.forEach((item, i) => {
    if (typeof item === 'string' || item instanceof String) { 
      options.links[i] = { href: item, rel: 'stylesheet' };
    }
  });

  options.meta = options.meta || [];
  if (!Array.isArray(options.meta)) {
    options.meta = [ options.meta ];
  }

doctype html

html(lang=options.lang)
  head
    meta(charset='utf-8')
    meta(content='ie=edge' http-equiv='x-ua-compatible')

    if (options.baseHref)
      base(href=options.baseHref)

    each item in options.meta
      meta&attributes(item)

    if options.title
      title= options.title

    if (options.googleAnalytics)
      script(async src=`https://www.googletagmanager.com/gtag/js?id=${options.googleAnalytics}`)
      script
        | window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());
        = `gtag('config', '${options.googleAnalytics}');`

    if (options.manifest)
      link(href=options.manifest rel='manifest')

    if (files.favicon || options.faviconExternal)
      link(href=files.favicon || options.faviconExternal rel='shortcut icon')

    if (options.cache === false)
      meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
      meta(http-equiv='Pragma' content='no-cache')
      meta(http-equiv='Expires' content='0')

    if (options.mobile !== false)
      meta(content='width=device-width, initial-scale=1' name='viewport')

    each val, key in files.css
      link(href=val rel='stylesheet')

    each item in options.links
      link&attributes(item)

    each item in options.scripts
      script&attributes(item)

  body

    block page_content

    if (options.appMountId)
      div(id=options.appMountId)
        if (options.loader)
          != options.loader

    if (options.window)
      script(type='text/javascript')
        each key in options.window
          != `window.${key} = '${options.window[key]}';`
        

    each item in options.bodyScripts
      script&attributes(item)

    each key in Object.keys(files.chunks)
      script(src=files.chunks[key].entry type='text/javascript')
